extends layout

block scripts
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")

block content
  div#nav
    p Mandelbrot Set
    ul
      li
        a(href="https://www.youtube.com/watch?v=DmzrVqrZSNg") Video Part 1
      li
        a(href="https://www.youtube.com/watch?v=mFVY0k2IJUE") Video Part 2
      li
        a(href="/viewer") Viewer
  br
  div#main
    div#intro
      h1 For our math project, Nate and I decided to take a look at the Mandelbrot Set
      p We dove deep into how the Mandelbrot Set is created, how computers display it, and how fractals are practically used in the world of data compression.
    div#projects
      h1 For this project, we created three parts.
      div#parts
        div#video
          iframe(width='560' height='315' src='https://www.youtube.com/embed/DmzrVqrZSNg' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
          p A video explaining the Mandelbrot Set.
        div#videoTwo
          iframe(width='560' height='315' src='https://www.youtube.com/embed/mFVY0k2IJUE' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
          p A video explaining how computers display the Mandelbrot set, and the applications of fractals in the real world.
        div#viewer
          a(href="/viewer")
            image(src="/images/viewerPreview.png" alt="Viewer Preview" width="560" height="315")
          p An interactive showcase of the endless nature of the Mandelbrot Set
    div#footer
      p © 2019 Sam Randa - Coded and written by Sam Randa and produced by Nate Randa
